:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

/*Barra de navegação*/
body {
    margin: 0;
}

nav {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.icone-nav {
    padding-left: 112px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Lista desordenada do nav */
nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 240px;
    gap: 32px;
}

/*lista*/
nav ul li {
    list-style: none;
}

/*lista com âncoras*/
nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.buttons-nav {
    display: flex;
    padding-left: 210px;
    margin-right: 130px;
    align-items: center;
    gap: 28px;
}

.buttom-1-nav {
    border: none;
    width: 47px;
    height: 24px;
    background: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.buttom-2-nav {
    border: none;
    width: 112px;
    height: 44px;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.cabeçalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
}

.cabeçalho span {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--main-color);
}

.cabeçalho h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
}

.cabeçalho p {
    width: 791px;
    height: 60px;
    font-size: 20px;
    font-family: Inter;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 288px;

}

.card-style {
    display: flex;
    flex-direction: column;
    height: 168px;
    width: 280px;
}

.card-style h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--main-color);
}

.card-style span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.card-style p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 280px;
    height: 48px;
}

article {
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article span {
    width: 150px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-color);
}

article h1 {
    padding-top: 20px;
    width: 768px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0;
}

article p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.vaga h3 {
    color: #101828;
    width: 768px;
    height: 30px;
    margin-top: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}

.bloco-vaga {
    width: 768px;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-vaga {
    display: flex;
    align-items: center;
    width: 720px;
    height: 28px;
    margin-left: 24px;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.informacoes {
    display: flex;
    margin-left: 24px;
    width: 720px;
    margin-bottom: 28px;
    gap: 24px;
}

.informacoes span:first-child {
    display: flex;
    width: 69px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.informacoes span:last-child {
    display: flex;
    width: 175px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.depoimentos {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depoimentos h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    width: 1088px;
    height: 88px;
}

.depoimentos span:first-child {
    display: flex;
    width: 1088px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-text h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1088px;
    height: 24px;
    gap: 24px;
    margin: 0;
    margin-top: 24px;
    font-size: 16px;
}

.img-text span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1088px;
    height: 24px;
    font-size: 14px;
    color: var(--text-color);
}

footer {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

footer span {
    width: 768px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 24px;

}

.barra-email {
    display: flex;
    gap: 16px;
}

.barra-email input {
    width: 338px;
    height: 25px;
    padding-left: 18px;
}

.barra-email button {
    width: 76px;
    height: 32px;
    background: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: white;
}

footer p {
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}